.container-kamar-fasiltas {
  .fasilitas-kost-wrapper {
    width: 50%;
    margin-top: 2em;
  }

  .input-date {
    height: 2.5em;
    width: 80%;
    text-transform: capitalize;
    padding: 0 1em;
  }
}
