.card {
  border: none !important;
  border-radius: 20px !important;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
  &-image {
    overflow: hidden;
    img {
      transition: 0.3s transform ease-in-out;
    }
  }

  &-body {
    .card-title {
      text-decoration: none;
      color: black;

      &:hover {
        color: rgb(27, 27, 27);
      }
    }
  }
}
